@import '@silevis/reactgrid/styles.scss';

.excercises-data-sample{
    font-size: 1em;
}

.excercises-data-sample .align-right{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.excercises-data-sample .bold-text{
    font-weight: bold;
}

.excercises-data-sample .gray{
    color:  #404040;
}