#multiuser-sample {
    // override styles here

    // $shadow-blur-radius:    7px !default; 
    // $shadow-spread-radius:  -2px !default; 
    // $shadow-length:         0px !default; 

    // .rg-header-cell {
    //     background-color: rgba(128, 128, 128, 0.1) !important;
    // }

    .rg-cell-focus {
        transition: all 0.3s;
        // height: 50px !important;
    }

    @import '@silevis/reactgrid/styles.scss';
}