:root {
    --primary: 0, 100%, 50%;
    --font: 121, 50, 168;
  }

.workhours-sample{
    @import '@silevis/reactgrid/styles.scss';
    display: inline-block;
    
}

.workhours-sample .reactgrid-content .rg-pane .rg-cell-focus {
    border-color: unquote("hsl(var(--primary))");
}

.workhours-sample .reactgrid-content .rg-pane .rg-partial-area.rg-partial-area-selected-range {
    border-color:  unquote("hsl(var(--primary))");
    background-color: unquote("hsla(var(--primary), 0.35)")
}

.workhours-sample .rg-celleditor {
    border-color:  unquote("hsl(var(--primary))");
    input {
        font-family:  var(--font);
    }
}

.workhours-sample .dropdown-cell{
    width: 100%;
    height: 100%;
    border: none;
    font-family:inherit;
    outline: none;
    background-color:rgba(0,0,0,0); 
    font-size: inherit;
}

.workhours-sample .rg-column-resize-hint {
    background-color: rgba(0,0,0,0.5) !important;
    color: whitesmoke !important;
}
.workhours-sample .reactgrid-content .rg-line{
    background-color: unquote("hsl(var(--primary))");
}
.workhours-sample .reactgrid-content .rg-pane .rg-cell .rg-touch-resize-handle .rg-resize-handle:hover{
    background-color: rgba(0,0,0,0.4);
}

.workhours-sample .add-row-button {
    border: none;
    width: 100%;
    height: 100%;
    font-size: large;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    outline:none;
}

.workhours-sample .rg-date-cell {
    justify-content: flex-start;
}

.workhours-sample .hue-horizontal {
    touch-action: none;
    background: linear-gradient(to right, hsl(0, 100%, 75%) 0%,hsl(60, 100%, 75%) 17%, hsl(120, 100%, 75%) 33%, hsl(180, 100%, 75%) 50%, hsl(240, 100%, 75%) 67%, hsl(300, 100%, 75%) 83%, hsl(0, 100%, 75%) 100%);
}

.workhours-sample .rg-number-cell.idx-cell {
    justify-content: flex-start;
}

.workhours-sample .center{
    display: flex;
    justify-content: center;
}

.workhours-sample .configurator{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.workhours-sample .configuration-cell{
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        padding-right: 10px;
    }
}