$template-checkbox-size:    20px !default;
$template-font-size:        1em !default;
$template-bg-color:         transparent !default;
$template-padding:          0 !default;
$template-margin:           0 !default;
$template-content-invalid:  rgb(255, 0, 0) !default;